body{
  margin: 0;
  padding: 0;
  font-family: "Manrope";
  overflow-x: hidden;
  border: none;
}
::-webkit-scrollbar{
  display: none;
}
.carousel{
  width: 100%;
  height: 25px;
  background-color: #161616;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.carouselcircle{
  width: 8px;
  height: 8px;
  background-color: royalblue;
  border-radius: 50%;
}
.header{
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 25px;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 1000;
}
.greeting{
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 16px;
}
.greetlogo{
  width: 40px;
  margin-right: 8px;
  border-radius: 50%;
  border: 1px solid royalblue;
}
.topgreet{
  font-size: 12px;
  font-weight: 500;
  color: grey;
}
.bottomgreet{
  font-size: 16px;
  font-weight: 700;
}
.actions{
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.menubuttonicon{
  width: 15px;
}
.actionbutton{
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(191, 191, 191);
  border-radius: 50%;
  padding: 6px;
  margin-right: 12px;
  cursor: pointer;
}
.menupage{
  width: 75%;
  height: 100vh;
  position: fixed;
  z-index: 1500;
  top: 0;
  bottom: 0;
  background-color: #161616;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}
.menuopen{
  transition: 0.3s;
  right: 0;
}
.menuclose{
  right: -100%;
  transition: 0.3s;
}
.close{
  cursor: pointer;
  color: white;
}
.topmenubar{
  width: 100%;
  height: 50px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.topmenubartag{
  color: white;
  font-size: 28px;
  font-weight: 600;
  margin-left: 30px;
}
.topmenubarbutton{
  margin-right: 20px;
  border: 1px solid grey;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
}
.closebutton{
  width: 15px;
  filter: invert(1);
}
.menuitems{
  margin-top: 40px;
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}
.menuitem{
  width: 80%;
  height: 65px;
  /* border-top: 1px solid rgba(128, 128, 128, 0.148); */
  border-bottom: 1px solid rgba(128, 128, 128, 0.148);
  display: flex;
  justify-content: start;
  align-items: center;
}
.itemicon{
  width: 16px;
  margin-right:20px ;
}
.itemtag{
  color: grey;
  font-size: 16px;
  font-weight: 600;
}
.loggedintag{
  width: 100%;
  flex: 1;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: end;
}
.loggedininfo{
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 600;
  color: rgb(75, 75, 75);
}





.bottombar {
  width: max-content;
  max-width: 400px;
  height: 45px;
  background-color: #161616;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 40px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}
.tab{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  height: 100%;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
}
.active{
  transition: 0.3s linear;
  border: 1.5px solid royalblue;
  background-color: royalblue;
}
.tabicon{
  width: 14px;
  transform: translateY(0px);
}
.tabtag{
  color: white;
  font-weight: 600;
  margin-top: 0px;
  font-size: 10px;
  margin-left: 6px;
  margin-right: 6px;
}
.homescreen{
  height: auto;
  padding-bottom: 100px;
  width: 100%;
  margin-top: 85px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.updateprice{
  width: 100%;
  height: 100vh;
  background-color: royalblue;
}
.additem{
  width: 100%;
  height: 100vh;
  background-color: greenyellow;
}

.searchbar{
  width: 95%;
  height: 50px;
  background-color: rgb(248, 248, 248);
  margin-top: 12px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchinput{
  flex: 1;
  height: 80%;
  margin-left: 20px;
  font-size: 16px;
  font-weight: 500;
  color: black;
  background-color: transparent;
  outline: none;
  border: none;
}
.searchinput::placeholder{
  font-size: 14px;
  font-weight: 500;
  color: rgb(189, 189, 189);
}
.searchbutton{
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 50%;
  margin-right: 5px;
}
.searchicon{
  width: 16px;
  filter: invert(1);
}
.categoriesdiv{
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 12px;
  overflow-x: scroll;
}
.category{
  width: max-content;
  padding-right: 12px;
  padding-left: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  /* background-color: #161616; */
  border-radius: 40px;
  border: 1px solid #d5d5d583;
  font-size: 14px;
  font-weight: 600;
  color: black;
  margin-left: 6px;
  margin-right: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: none;
  flex-wrap: nowrap;
  font-weight: 600;
  white-space: nowrap;
}
.caticon{
  width: 14px;
  margin-right: 4px;
}
.activecat{
  padding-left: 22px;
  padding-right: 22px;
  transition: 0.3s;
  background-color: black;
  color: white;
}
.activecat .caticon{
  transition: 0.3s;
  filter: invert(1);
}
.activecat .catcircle{
  background-color: white;
}
.itemsdiv{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.itemcard {
  position: relative;
  width: 90%;
  aspect-ratio: 1;
  background-color: grey;
  border-radius: 20px;
  overflow: hidden;
  margin: 8px;
}

.itemimage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay-top {
  position: absolute;
  top: 16px;
  left: 16px;
  display: flex;
  gap: 8px;
  z-index: 2;
}

.pill {
  background-color: rgba(0, 0, 0, 0.65);
  padding: 6px 18px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  backdrop-filter: blur(10px);
}

.overlay-bottom {
  position: absolute;
  bottom: 0;
  width: calc(100% - 48px);
  padding: 24px;
  background: linear-gradient(to top, rgba(0, 0, 0,0.9), transparent);
  color: white;
  font-size: 14px;
  font-weight: 500;
  z-index: 2;
}
.code{
  font-size: 22px;
  color: white;
  font-weight: 800; 
}
.pricesection{
  margin-top: 8px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price{
  width: 30%;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.432);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
.priceamt{
  color: white;
  font-weight: 600;
}
.downloadicon{
  width: 16px;
  filter: invert(1);
  margin-left: 6px;
}
