body{
  margin: 0;
  padding: 0;
  font-family: "Gilroy";
  overflow-x: hidden;
  border: none;
}
::-webkit-scrollbar{
  display: none;
}
.carousel{
  width: 100%;
  height: 25px;
  background-color: #161616;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.carouselcircle{
  width: 8px;
  height: 8px;
  background-color: royalblue;
  border-radius: 50%;
}
.header{
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 25px;
  left: 0;
  right: 0;
}
.greeting{
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 16px;
}
.greetlogo{
  width: 40px;
  margin-right: 8px;
  border-radius: 50%;
  border: 1px solid royalblue;
}
.topgreet{
  font-size: 12px;
  font-weight: 500;
  color: grey;
}
.bottomgreet{
  font-size: 16px;
  font-weight: 700;
}
.actions{
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.menubuttonicon{
  width: 15px;
}
.actionbutton{
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(191, 191, 191);
  border-radius: 50%;
  padding: 6px;
  margin-right: 12px;
  cursor: pointer;
}
.menupage{
  width: 80%;
  height: 100vh;
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  background-color: #161616;
}
.menuopen{
  transition: 0.3s;
  right: 0;
}
.menuclose{
  right: -100%;
  transition: 0.3s;
}
.close{
  cursor: pointer;
}






.bottombar {
  width: max-content;
  max-width: 400px;
  height: 45px;
  background-color: #161616;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 40px;
  padding: 8px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 99;
}
.tab{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  height: 100%;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
}
.active{
  transition: 0.3s linear;
  border: 1.5px solid royalblue;
  background-color: royalblue;
}
.tabicon{
  width: 14px;
}
.tabtag{
  color: white;
  font-weight: 600;
  margin-top: 0px;
  font-size: 10px;
  margin-left: 6px;
  margin-right: 6px;
}
.homescreen{
  height: auto;
  padding-bottom: 40px;
  width: 100%;
  margin-top: 85px;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}

.updateprice{
  width: 100%;
  height: 100vh;
  background-color: royalblue;
}
.additem{
  width: 100%;
  height: 100vh;
  background-color: greenyellow;
}